@import "tailwindcss";

@theme {
  --color-primary: rgba(164, 22, 20, 1);
  --color-primary-light: rgba(216, 12, 12, 1);
  --color-field-bg: rgba(229, 229, 229, 0.56);
  --color-sidebar: rgba(33, 33, 33, 1);
  --color-light-grey-text: rgba(255, 255, 255, 0.72);
  --color-screen-bg: rgba(19, 19, 19, 1);
  --color-button-color: rgba(179, 179, 179, 0.2);
  --color-pagination: rgba(255, 255, 255, 0.25);
  --color-grey-text: rgba(116, 116, 116, 1);
  --color-light-white: rgba(255, 255, 255, 0.79);
  --color-grey-border: rgba(255, 255, 255, 0.37);
  --color-grey-2: rgba(255, 255, 255, 0.1);
  --color-table-header: rgba(255, 255, 255, 0.05);
  --color-dark-grey-text: rgba(0, 0, 0, 0.7);
  --color-light-green: rgba(105, 144, 111, 1);
  --color-form-field: rgba(196, 196, 196, 0.1);
  --color-modal-grey: rgba(86, 83, 83, 1);
  --color-dark-blue: rgba(4, 14, 253, 1);
  --color-red: rgba(250, 12, 12, 1);
  --color-green: rgba(48, 218, 20, 1);
  --color-grey-button: rgba(196, 196, 196, 0.24);
  --color-purple: rgba(82, 70, 196, 0.78);
  --color-sidebar-select: rgba(196, 196, 196, 0.6);
  --color-button-dark: rgba(0, 0, 0, 0.73);
  --color-light-grey: rgba(0, 0, 0, 0.08);
  --color-mid-grey: rgba(196, 196, 196, 0.45);
}
